<div class="mt-3">
    <div *ngIf="isCopyOfTableRecord">
        <!-- {{newTableRecord | json}} -->
        <table class="table table-responsive table-bordered">
            <thead class="mythead">
                <tr>
                    <th>Market/Media</th>
                    <th style="width: 230px;">Effective Date</th>
                    <th style="width: 228px;">Media</th>
                    <th style="width: 228px;">Inv Management Type</th>
                    <th style="width: 160px;">Showing Type</th>
                    <th style="width: 130px;">Units</th>
                    <th>Duration</th>
                    <th style="width: 165px;">Net Amount</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <div>
                            <b>{{newTableRecord?.id['market']}} / {{newTableRecord?.id['description']}}</b>
                        </div>
                        <div>
                            <span>
                                <b>Coverage:</b>
                            </span> {{newTableRecord?.id['coverage']}}
                            <span>
                                <a href="javascript:" (click)="saveRecord()">
                                    <i class="fa fa-pencil" style="padding:5px;"></i>
                                </a>
                            </span>
                            <div>
                              Path:  {{newTableRecord?.id['path']}} 
                            </div>
                         
                          </div>
                        <div  style="font-size: 15px;">{{newTableRecord?.id['type']}}
                        </div>


                        
                    </td>
                    <td>
                        <p-calendar id="effeectiveDate" showIcon="true" [(ngModel)]="newTableRecord.date"></p-calendar>
                    </td>
                    <td>
                        <select name="" id="" class="form-control" [(ngModel)]="newTableRecord.media">
                            <option value="Digital Bulletins">Digital Bulletins</option>
                        </select>
                    </td>
                    <td>
                        <select name="" id="" class="form-control" [(ngModel)]="newTableRecord.showingtype">
                            <option value="Unit">Unit</option>
                        </select>
                    </td>
                    <td>
                        <select name="" id="" class="form-control" [(ngModel)]="newTableRecord.invtMgmtType">
                            <option value="Atlanta Malls">Atlanta Malls</option>
                            <option value="Atlanta Digital">Atlanta Digital</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="" id="" class="form-control" [(ngModel)]="newTableRecord.units">
                    </td>
                    <td>
                        <select name="" id="" class="form-control" [(ngModel)]="newTableRecord.duration">
                            <option value="1-4 weeks">1-4 Weeks</option>
                        </select>
                    </td>
                    <td>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="text" class="form-control" [(ngModel)]="newTableRecord.netamt">
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="text-right">
                    <td colspan="8" class="p-1">
                        <button class="btn btn-success" (click)="saveChanges()">
                            Save Showings
                        </button>
                        <button class="btn btn-secondary" (click)="cancel()">
                            Cancel
                        </button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>


  <p-dataTable [value]="rows" electionMode="multiple" [editable]="true" [immutable]="false" [scrollable]="true" scrollWidth="100%"
    frozenWidth="150px">
    <p-column [style]="{'width':'48px'}" selectionMode="multiple"> </p-column>
    <p-column [style]="{'width':'48px'}" [hidden]="true">
      <ng-template let-col let-prod="rowData" pTemplate="body">
        <div>
          <a href="javascript:" (click)="saveRecord()" title="Copy Record">
            <i class="fa fa-exchange" style="background-color: rgb(65, 20, 65); color:white; padding:5px;"></i>
          </a>
        </div>
      </ng-template>
    </p-column>
    <p-column field="id" header="Market/Media" [style]="{'width':'230px'}">
      <ng-template let-row="rowData" pTemplate="body">
        <div>
          <div>
            <b>{{row?.id?.seqno}} / {{row?.id?.market}} / {{row?.id?.description}}</b>
          </div>
          <div>
            <span>
              <b>Coverage:</b>
            </span> {{row.id.coverage}}</div>
          <div> Path:
            <a href="" class="link">{{row?.id?.path}}</a>
          </div>
        </div>
        <!-- <div *ngIf="row.isEditable">
          <div>
            <b>{{row.id.market}}
              <a href="javascipt:void()">
                <span>
                  <i class="fa fa-pencil"></i>
                </span>
              </a>
            </b>
          </div>
          <div>
            <span>
              <b>Coverage:</b>
            </span> {{row.id.coverage}}</div>
          <div> Path:
            <a href="" class="link">{{row?.id?.path}}</a>
          </div>
        </div> -->
      </ng-template>
    </p-column>

    <p-column field="date" header="Effective Date" [style]="{'width':'230px'}">
      <ng-template let-row="rowData" pTemplate="body">
        <div>
          {{row.date}}
        </div>
        <!-- <div *ngIf="row.isEditable">
          <p-calendar showIcon="true" [style]="{'width':'190px'}" [(ngModel)]="row.date"></p-calendar>
        </div> -->
      </ng-template>
    </p-column>

    <p-column field="media" header="Media" [style]="{'width':'150px'}">
      <ng-template let-col let-row="rowData" pTemplate="body">
        <div>
          {{row.media}}
        </div>
        <!-- <div *ngIf="row.isEditable">
          <select class="form-control" [(ngModel)]="row.media">
            <option value="Digital Bulletins">Digital Bulletins</option>
          </select>
        </div> -->
      </ng-template>
    </p-column>

    <p-column field="invtMgmtType" header="Inv Management Type" [style]="{'width':'200px'}">
      <ng-template let-col let-row="rowData" pTemplate="body">
        <div>
          {{row.invtMgmtType}}
        </div>
        <!-- <div *ngIf="row.isEditable">
          <select class="form-control" [(ngModel)]="row.invtMgmtType">
            <option value="Atlanta Digital">Atlanta Digital</option>
            <option value="Atlanta Malls">Atlanta Malls</option>
          </select>
        </div> -->
      </ng-template>
    </p-column>

    <p-column field="showingtype" header="Showing Type" [style]="{'width':'130px'}">
      <ng-template let-col let-row="rowData" pTemplate="body">
        <div>
          {{row.showingtype}}
        </div>
        <!-- <div *ngIf="row.isEditable">
          <select class="form-control" [(ngModel)]="row.showingtype">
            <option value="Unit">Unit</option>
          </select>
        </div> -->
      </ng-template>
    </p-column>
    <p-column field="units" header="Units" [style]="{'width':'100px'}">
      <ng-template let-col let-row="rowData" pTemplate="body">
        <div>
          {{row.units}}
        </div>
        <!-- <div *ngIf="row.isEditable">
          <input type="text" class="form-control" [(ngModel)]="row.units">
        </div> -->
      </ng-template>
    </p-column>
    <p-column field="duration" header="Duration" [style]="{'width':'130px'}">
      <ng-template let-col let-row="rowData" pTemplate="body">
        <div>
          {{row.duration}}
        </div>
        <!-- <div *ngIf="row.isEditable">
          <select class="form-control" [(ngModel)]="row.duration">
            <option value="1-4 weeks">1-4 Weeks</option>
          </select>
        </div> -->
      </ng-template>
    </p-column>
    <p-column field="netamt" header="Net Amount" [style]="{'width':'200px'}">
      <ng-template let-col let-row="rowData" pTemplate="body">
        <div>
          <span>$</span>
          <span>{{row[col.field]}}</span>
        </div>
        <!-- <div *ngIf="row.isEditable">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="row.netamt"> &nbsp;
            <span style="margin-top: 7px;">
            <a href="javascript:" (click)="edit(row)">
              <i class="fa fa-pencil" style="background-color: rgb(68, 14, 68); color:white; padding:5px;"></i>
            </a>
          </span>
          </div>
        </div> -->
      </ng-template>
    </p-column>

    <p-column styleClass="col-button" [style]="{'width':'150px'}">
      <ng-template pTemplate="header">
        <span>
          Billing Status
        </span>
      </ng-template>
      <ng-template let-row="rowData" pTemplate="body" let-i="rowIndex">
        <div class="text-center">
          <span style="margin: 2px;">
            <a href="javascript:" (click)="copyRecord(row)">
              <i class="fa fa-clipboard" style="background-color: rgb(68, 14, 68); color:white; padding:5px;"></i>
            </a>
          </span>
          <span style="margin: 2px;">
            <span>
              <a href="javascript:" (click)="editRecord(row)">
                <i class="fa fa-edit" style="background-color: green; color:white; padding:5px;"></i>
              </a>
            </span>

            <!-- <span *ngIf="isEditable && row.isEditable">
              <a href="javascript:" (click)="saveRecord(row)" style="margin: 2px;">
                <i class="fa fa-save" style="background-color: green; color:white; padding:5px;"></i>
              </a>
              <a href="javascript:" (click)="cancelRecord(row)" style="margin: 2px;">
                <i class="fa fa-remove" style="background-color: #777; color:white; padding:5px;"></i>
              </a>
            </span> -->

          </span>
          <span style="margin: 2px;">
            <a href="javascript:" (click)="deleteRecord(i)">
              <i class="fa fa-trash-o" style="background-color: red; color:white; padding: 5px;"></i>
            </a>
          </span>
        </div>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>

<p-dialog [(visible)]="displayShowingsDialog" width="1200" [minHeight]="600" modal="true" responsive="true">
  <p-header>
    <!-- {{selectedRow | json}} -->{{ selectedRow?.id?.market}} - {{ selectedRow?.id?.description}}
    <span *ngIf=" selectedRow?.date"> - Effective Date {{ selectedRow?.date | date: 'MM/dd/yyyy'}}</span>
  </p-header>
  <div *ngIf="selectedRow">
    <div style="margin: 5px 42px 5px  17px">
      <div class="card bg-light">
        <div class="card-body">
          <div class="form-group">
            <div class="row col-md-12 col-sm-12">
              <div class="col-md-6 col-sm-6">
                <div class="col-md-8 col-sm-8">
                  <div class="form-group">
                    <label for="Facility">Facility</label>
                    <select name="Facility" id="Facility" class="form-control">
                      <option value="Atlanta Malls">Atlanta Malls</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-8 col-sm-8">
                  <div class="form-group">
                    <label for="subFacility">Sub Facility</label>
                    <select name="subFacility" id="subFacility" class="form-control">
                      <option value="Greenbriar Mall">Greenbriar Mall</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-8 col-sm-8">
                  <div class="form-group">
                    <label for="groupSched">Group Schedule</label>
                    <select name="groupSched" id="groupSched" class="form-control">
                      <option value="Atlanta Bulletins">Atlanta Bulletins</option>
                      <option value="Digital Bulletins">Digital Bulletins</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-8 col-sm-8">
                  <div class="form-group">
                    <label for="Media">Media</label>
                    <select name="Media" id="Media" class="form-control">
                      <option value="Digital Bulletins">Digital Bulletins</option>
                      <option value="Bus Shelters">Bus Shelters</option>
                      <option value="Posters">Posters</option>
                      <option value="Super Stacks">Super Stacks</option>
                    </select>
                  </div>
                </div>

                <div *ngIf="createRateCardData?.invtMngmtType == 'Individual Unit'" class="col-md-8 col-sm-8">
                  <div class="form-group">
                    <label for="InvntMgmtMedia">Inventory Management Media</label>
                    <select name="InvntMgmtMedia" id="InvntMgmtMedia" class="form-control">
                      <option value="Atlanta Bulletin Rates">Atlanta Bulletin Rates</option>
                      <option value="Atlanta Digital Posters">Atlanta Digital Posters</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="col-md-8 col-sm-8">
                  <div class="form-group">
                    <label for="MediaGroup">Media Group</label>
                    <select name="MediaGroup" id="MediaGroup" class="form-control">
                      <option value="Hill-Capital Station">Hill-Capital Station</option>
                      <option value="Granbriar Mall">Granbriar Mall</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-8 col-sm-8">
                  <div class="form-group">
                    <label for="Coverage">Coverage</label>
                    <select name="Coverage" id="Coverage" class="form-control"  [(ngModel)]="selectedRow.id.coverage">
                      <option value="Capital South">Capital South</option>
                      <option value="Capital North">Capital North</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-8 col-sm-8">
                  <div class="form-group">
                    <label for="Path">Path</label>
                    <textarea name="Path" id="Path" cols="3" rows="3" class="form-control" [(ngModel)]="selectedRow.id.path"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-sm-12">
              <p-dataTable [value]="newRateCardTypesRows" [immutable]="false" [rowsPerPageOptions]="[5,10,20]">
                <p-column field="showings" header="Showings">
                  <ng-template let-col let-row="rowData" pTemplate="body" let-index="rowIndex">
                    <div>
                      <select [(ngModel)]="row[col.field]" appendTo="body" class="form-control">
                        <option *ngIf="index == 0" value="{{rateCardShowingsList[0].value}}">{{rateCardShowingsList[0].label}}</option>
                        <option *ngIf="index == 1" value="{{rateCardShowingsList[1].value}}">{{rateCardShowingsList[1].label}}</option>
                        <option *ngIf="index == 2" value="{{rateCardShowingsList[2].value}}">{{rateCardShowingsList[2].label}}</option>
                        <option *ngIf="index == 3" value="{{rateCardShowingsList[3].value}}">{{rateCardShowingsList[3].label}}</option>
                        <option *ngIf="index == 4" value="{{rateCardShowingsList[4].value}}">{{rateCardShowingsList[4].label}}</option>
                      </select>
                    </div>
                  </ng-template>
                </p-column>

                <p-column field="units" header="Units">
                  <ng-template let-col let-row="rowData" pTemplate="body">
                    <input type="text" [(ngModel)]="row[col.field]" appendTo="body" class="form-control">
                  </ng-template>
                </p-column>

                <p-column field="firstweekclms" header="1-4 Weeks">
                  <ng-template let-col let-row="rowData" pTemplate="body">
                      <!-- {{row[col.field]| currency:'USD'}} -->
                    <div class="input-group" style="height: 33px;">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fa fa-dollar"></i>
                        </span>
                      </div>
                      <input type="text" [(ngModel)]="row[col.field]" appendTo="body" class="form-control">
                    </div>
                  </ng-template>
                </p-column>

                <p-column field="secondweekclms" header="5-12 Weeks">
                  <ng-template let-col let-row="rowData" pTemplate="body">
                    <div class="input-group" style="height: 33px;">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fa fa-dollar"></i>
                        </span>
                      </div>
                      <input type="text" [(ngModel)]="row[col.field]" appendTo="body" class="form-control">
                    </div>
                  </ng-template>
                </p-column>

                <p-column field="thirdweekclms" header="13-25 Weeks">
                  <ng-template let-col let-row="rowData" pTemplate="body">
                    <div class="input-group" style="height: 33px;">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fa fa-dollar"></i>
                        </span>
                      </div>
                      <input type="text" [(ngModel)]="row[col.field]" appendTo="body" class="form-control">
                    </div>
                  </ng-template>
                </p-column>

                <p-column field="fourthweekclms" header="26-41 Weeks">
                  <ng-template let-col let-row="rowData" pTemplate="body">
                    <div class="input-group" style="height: 33px;">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fa fa-dollar"></i>
                        </span>
                      </div>
                      <input type="text" [(ngModel)]="row[col.field]" appendTo="body" class="form-control">
                    </div>
                  </ng-template>
                </p-column>

                <p-column field="fifthweekclms" header="52 Weeks">
                  <ng-template let-col let-row="rowData" pTemplate="body">
                    <div class="input-group" style="height: 33px;">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fa fa-dollar"></i>
                        </span>
                      </div>
                      <input type="text" [(ngModel)]="row[col.field]" appendTo="body" class="form-control">
                    </div>
                  </ng-template>
                </p-column>

              </p-dataTable>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="pull-right">
            <button type="button" class="btn btn-default">Clear All</button>
            <button type="button" class="btn btn-success" (click)="saveShowings()">Save</button>
            <button type="button" class="btn btn-primary" (click)="cancelShwoings()">Cancel</button>
          </div>
        </div>
      </div>

    </div>

    <div style="margin: 5px 42px 5px  17px">
      <div class="card bg-light">
        <div class="card-body">
          <div *ngFor="let prodlist of productShowingsList; let i = index">
            <div>
              <label>
                <input type="checkbox"> &nbsp; {{ prodlist }}
              </label>
              <span class="pull-right">
                <a href="javascript:" (click)="deleteProductFromList(i)">
                  <i class="fa fa-trash-o" style="background-color: red; color:white; padding: 5px;"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>