<div>
    <div>
        <div class="card" style="padding: 20px 5px 5px 20px;">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="">
                            Select Date
                        </label>
                        <p-calendar [(ngModel)]="startEndDate" showIcon="true"></p-calendar>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label for="Market">
                            Market
                        </label>
                        <select name="Market" id="Market" class="form-control" style="height: 34px;">
                            <option *ngFor="let market of marketOptions" value="{{market?.value}}">{{market?.label}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1  col-sm-1">
                    <div class="form-group">
                        <label for="Active">
                            Active
                        </label>
                        <br>
                        <p-inputSwitch id="Active" onLabel="Yes" offLabel="No"></p-inputSwitch>
                    </div>
                </div>
                <div class="col-md-2  col-sm-2">
                    <div class="form-group">
                        <label for="Filter">
                            Filter
                        </label>
                        <div class="input-group" style="height: 33px;">
                            <input type="text" class="form-control" #prodfilter>
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-filter"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <p-dataTable [value]="rateCardTypesRows" [immutable]="false" [globalFilter]="prodfilter" [rows]="5" [paginator]="true" [pageLinks]="3"
                [rowsPerPageOptions]="[5,10,20]">
                <p-column field="id" header="Market/Description" [style]="{'width':'40%'}">
                    <ng-template let-row="rowData" pTemplate="body">
                        <div>
                            <a href="javascript:" class="link" (click)="createNewShowings(row)">{{row.id.market }} - {{row.id.description }}</a>
                        </div>
                    </ng-template>
                </p-column>

                <p-column field="id.market" header="" [style]="{'width':'40%'}" [hidden]="true">
                </p-column>

                <p-column field="id.description" header="" [style]="{'width':'40%'}" [hidden]="true">
                </p-column>

                <p-column field="date" header="Effective Date" [style]="{'width':'15%','text-align':'center'}">
                    <ng-template let-row="rowData" pTemplate="body">
                        <div>
                            {{row.date}}
                        </div>
                    </ng-template>
                </p-column>
                <p-column styleClass="col-button" [style]="{'width':'10%'}">
                    <ng-template pTemplate="header">
                    </ng-template>
                    <ng-template let-row="rowData" pTemplate="body" let-i="rowIndex">
                        <div class="text-center">
                            <span style="margin: 2px;">
                                <a href="javascript:" (click)="copyRecord(row)">
                                    <i class="fa fa-clipboard" style="background-color: rgb(68, 14, 68); color:white; padding:5px;"></i>
                                </a>
                            </span>
                            <span style="margin: 2px;">
                                <span>
                                    <a href="javascript:" (click)="editRecord(row)">
                                        <i class="fa fa-edit" style="background-color: green; color:white; padding:5px;"></i>
                                    </a>
                                </span>
                            </span>
                            <span style="margin: 2px;">
                                <a href="javascript:" (click)="printRecord(i)">
                                    <i class="fa fa-print" style="background-color: black; color:white; padding: 5px;"></i>
                                </a>
                            </span>
                            <span style="margin: 2px;">
                                <a href="javascript:" (click)="deleteRecord(i)">
                                    <i class="fa fa-trash-o" style="background-color: red; color:white; padding: 5px;"></i>
                                </a>
                            </span>
                        </div>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>

        <div *ngIf="showProdTable">
            <div class="container-fluid">
                <div *ngIf="isNewTableRecord">
                    <!-- {{newTableRecord | json}} -->
                    <table class="table table-responsive table-bordered">
                        <thead class="mythead">
                            <tr>
                                <th>Market/Media</th>
                                <th>Start/End Date</th>
                                <th style="width: 228px;">Media</th>
                                <th style="width: 160px;">Showing Type</th>
                                <th style="width: 130px;">Units</th>
                                <th>Duration</th>
                                <th style="width: 165px;">Net Amount</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <div>
                                        <b>{{newTableRecord?.id['market']}}</b>
                                    </div>
                                    <div>
                                        <span>
                                            <b>Coverage:</b>
                                        </span> {{newTableRecord?.id['coverage']}}</div>
                                    <div class="badge badge-primary p-1" style="font-size: 15px;">{{newTableRecord?.id['type']}}</div>


                                    <span>
                                        <a href="javascript:" (click)="saveRecord()">
                                            <i class="fa fa-pencil" style="padding:5px;"></i>
                                        </a>
                                    </span>
                                </td>
                                <td>
                                    <p-calendar id="effeectiveDate" showIcon="true" [(ngModel)]="newTableRecord.date" selectionMode="range"></p-calendar>
                                </td>
                                <td>
                                    <select name="" id="" class="form-control" [(ngModel)]="newTableRecord.media">
                                        <option value="Digital Bulletins">Digital Bulletins</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="" id="" class="form-control" [(ngModel)]="newTableRecord.showingtype">
                                        <option value="Unit">Unit</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" name="" id="" class="form-control" [(ngModel)]="newTableRecord.units">
                                </td>
                                <td>
                                    <select name="" id="" class="form-control" [(ngModel)]="newTableRecord.duration">
                                        <option value="1-4 weeks">1-4 Weeks</option>
                                    </select>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="text" class="form-control" [(ngModel)]="newTableRecord.netamt">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="text-right">
                                <td colspan="7" class="p-1">
                                    <button class="btn btn-success" (click)="saveChanges()">
                                        Save Showings
                                    </button>
                                    <button class="btn btn-secondary" (click)="cancel()">
                                        Cancel
                                    </button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <p-dataTable [value]="rows" electionMode="multiple" [editable]="true" [immutable]="false">
                    <p-column [style]="{'width':'38px'}" selectionMode="multiple"> </p-column>
                    <p-column [style]="{'width':'38px'}">
                        <ng-template let-col let-prod="rowData" pTemplate="body">
                            <div>
                                <a href="javascript:" (click)="saveRecord()" title="Copy Record">
                                    <i class="fa fa-exchange" style="background-color: rgb(68, 14, 68); color:white; padding:5px;"></i>
                                </a>
                            </div>
                        </ng-template>
                    </p-column>
                    <p-column field="id" header="Market/Media" [style]="{'width':'230px'}">
                        <ng-template let-row="rowData" pTemplate="body">
                            <div *ngIf="!row.isEditable">
                                <div>
                                    <b>{{row.id.market}}</b>
                                </div>
                                <div>
                                    <span>
                                        <b>Coverage:</b>
                                    </span> {{row.id.coverage}}</div>
                                <div class="badge badge-primary p-1" style="font-size: 15px;">{{row.id.type}}</div>
                            </div>
                            <div *ngIf="row.isEditable">
                                <div>
                                    <b>{{row.id.market}}
                                        <a href="javascipt:void()">
                                            <span>
                                                <i class="fa fa-pencil"></i>
                                            </span>
                                        </a>
                                    </b>
                                </div>
                                <div>
                                    <span>
                                        <b>Coverage:</b>
                                    </span> {{row.id.coverage}}</div>
                                <div class="badge badge-primary p-1" style="font-size: 15px;">{{row.id.type}}</div>
                            </div>
                        </ng-template>
                    </p-column>

                    <p-column field="date" header="Start/End Date" [style]="{'width':'240px'}">
                        <ng-template let-row="rowData" pTemplate="body">
                            <div *ngIf="!row.isEditable">
                                {{row.date}}
                            </div>
                            <div *ngIf="row.isEditable">
                                <p-calendar showIcon="true" [style]="{'width':'200px'}" [(ngModel)]="row.date" selectionMode="range"></p-calendar>
                            </div>
                        </ng-template>
                    </p-column>

                    <p-column field="media" header="Media">
                        <ng-template let-col let-row="rowData" pTemplate="body">
                            <div *ngIf="!row.isEditable">
                                {{row.media}}
                            </div>
                            <div *ngIf="row.isEditable">
                                <select class="form-control" [(ngModel)]="row.media">
                                    <option value="Digital Bulletins">Digital Bulletins</option>
                                </select>
                            </div>
                        </ng-template>
                    </p-column>
                    <p-column field="showingtype" header="Showing Type">
                        <ng-template let-col let-row="rowData" pTemplate="body">
                            <div *ngIf="!row.isEditable">
                                {{row.showingtype}}
                            </div>
                            <div *ngIf="row.isEditable">
                                <select class="form-control" [(ngModel)]="row.showingtype">
                                    <option value="Unit">Unit</option>
                                </select>
                            </div>
                        </ng-template>
                    </p-column>
                    <p-column field="units" header="Units">
                        <ng-template let-col let-row="rowData" pTemplate="body">
                            <div *ngIf="!row.isEditable">
                                {{row.units}}
                            </div>
                            <div *ngIf="row.isEditable">
                                <input type="text" class="form-control" [(ngModel)]="row.units">
                            </div>
                        </ng-template>
                    </p-column>
                    <p-column field="duration" header="Duration">
                        <ng-template let-col let-row="rowData" pTemplate="body">
                            <div *ngIf="!row.isEditable">
                                {{row.duration}}
                            </div>
                            <div *ngIf="row.isEditable">
                                <select class="form-control" [(ngModel)]="row.duration">
                                    <option value="1-4 weeks">1-4 Weeks</option>
                                </select>
                            </div>
                        </ng-template>
                    </p-column>
                    <p-column field="netamt" header="Net Amount">
                        <ng-template let-col let-row="rowData" pTemplate="body">
                            <div *ngIf="!row.isEditable">
                                <span>$</span>
                                <span>{{row[col.field]}}</span>
                            </div>
                            <div *ngIf="row.isEditable">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input type="text" class="form-control" [(ngModel)]="row.netamt">
                                </div>
                            </div>
                        </ng-template>
                    </p-column>

                    <p-column styleClass="col-button" [style]="{'width':'120px'}">
                        <ng-template pTemplate="header">
                            <span>
                                Billing Status
                            </span>
                        </ng-template>
                        <ng-template let-row="rowData" pTemplate="body" let-i="rowIndex">
                            <div class="text-center">
                                <span style="margin: 2px;" *ngIf="!row.isEditable">
                                    <a href="javascript:" (click)="copyRecord(row)">
                                        <i class="fa fa-clipboard" style="background-color: rgb(68, 14, 68); color:white; padding:5px;"></i>
                                    </a>
                                </span>
                                <span style="margin: 2px;">
                                    <span *ngIf="!row.isEditable">
                                        <a href="javascript:" (click)="editRecord(row)">
                                            <i class="fa fa-edit" style="background-color: green; color:white; padding:5px;"></i>
                                        </a>
                                    </span>

                                    <span *ngIf="isEditable && row.isEditable">
                                        <a href="javascript:" (click)="saveRecord(row)" style="margin: 2px;">
                                            <i class="fa fa-save" style="background-color: green; color:white; padding:5px;"></i>
                                        </a>
                                        <a href="javascript:" (click)="cancelRecord(row)" style="margin: 2px;">
                                            <i class="fa fa-remove" style="background-color: #777; color:white; padding:5px;"></i>
                                        </a>
                                    </span>

                                </span>
                                <span style="margin: 2px;" *ngIf="!row.isEditable">
                                    <a href="javascript:" (click)="deleteRecord(i)">
                                        <i class="fa fa-trash-o" style="background-color: red; color:white; padding: 5px;"></i>
                                    </a>
                                </span>
                            </div>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>

    </div>
</div>





<p-dialog [(visible)]="display" width="100%">
    <p-header>
        Showing Rate cards - Effective Date
        <span *ngIf="startEndDate"> {{ startEndDate[0] | date: 'MM/dd/yyyy'}} - {{ startEndDate[1] | date: 'MM/dd/yyyy'}} </span>
    </p-header>
    <div>
        <div class="form-group">
            <div class="row col-md-12 col-sm-12">
                <div class="col-md-3 col-sm-3">
                    <label for="market">Market</label>
                    <select name="" id="market" class="form-control">
                        <option value="atlanta">Atlanta</option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-3">
                    <label for="mediagroup">Media Group</label>
                    <select name="" id="mediagroup" class="form-control">
                        <option value="busext">Bus (Exterior)</option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-3">
                    <label for="inventory">Inventory Type</label>
                    <select name="" id="inventory" class="form-control">
                        <option value="active">Active</option>
                        <option value="inactive">InActive</option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-3">
                    <label for="filter">Filter</label>
                    <input type="text" class="form-control" id="filter">
                </div>
            </div>
        </div>
        <div style="margin: 5px 42px 5px  17px">
            <p-accordion>
                <p-accordionTab *ngFor="let media of mediaTypes" header="{{media.header}}" [selected]="media.selected">
                    <ul style="list-style: none;">
                        <li *ngFor="let content of media?.content">
                            <label>
                                <input type="checkbox">&nbsp;{{content}}
                            </label>
                            <span class="pull-right btn-sm btn-danger" style=" height: 24px;
                                    margin: 0px;
                                    padding: 2px;">
                                <i class="fa fa-trash-o"></i>
                            </span>
                        </li>
                    </ul>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
</p-dialog>

<p-dialog [(visible)]="editProduct" width="1400">
    <p-header>
        <span>{{ editProductData?.id?.market }} - {{ editProductData?.id?.description }} - Effective Date </span>
        <span *ngIf="editProductData?.date"> {{ editProductData?.date | date: 'MM/dd/yyyy'}} </span>
    </p-header>
    <div>
        <div class="card bg-light mt-3">
            <div class="card-body" *ngIf="editProductData">
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">

                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="effeectiveDate">Effective Date</label>
                                    <p-calendar [(ngModel)]="editProductData.date" showIcon="true"></p-calendar>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="market">Market</label>
                                    <select name="market" id="market" class="form-control" [(ngModel)]="editProductData.id.market">
                                        <option value="Atlanta, GA">Atlanta,GA</option>
                                        <option value="Boston,MA">Boston, MA</option>
                                        <option value="NYC">New York, NY</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea name="description" id="description" cols="3" rows="2" class="form-control" [(ngModel)]="editProductData.id.description"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="propdesc">Propoasl Description</label>
                                    <textarea name="propdesc" id="propdesc" cols="3" rows="2" class="form-control" [(ngModel)]="editProductData.propsDescr"></textarea>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="spaceMisc">Space / Miscellinious</label>
                                    <br>
                                    <input type="radio" id="spaceMisc" [(ngModel)]="editProductData.spaceMisc" value="Space">Space
                                    <input type="radio" id="spaceMisc" [(ngModel)]="editProductData.spaceMisc" value="Miscellinious">Miscellinious
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="prodsched">Production Schedule</label>
                                    <select name="prodsched" id="prodsched" class="form-control" [(ngModel)]="editProductData.prodSched">
                                        <option value="Digital Bulletins Facility">Digital Bulletins Facility</option>
                                        <option value="Airport Shuttle">Airport Shuttle</option>
                                        <option value="Test">Test</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="active">Active</label> &nbsp; &nbsp;
                                    <input type="radio" name="active" id="active" [(ngModel)]="editProductData.active" [value]="true"> True
                                    <input type="radio" name="active" id="active" [(ngModel)]="editProductData.active" [value]="false"> False
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="invtMngmtType">Inventory Management Type</label>
                                    <select name="invtMngmtType" id="invtMngmtType" class="form-control" [(ngModel)]="editProductData.invtMngmtType">
                                        <option value="Digital Bulletins Facility">Digital Bulletins Facility</option>
                                        <option value="Airport Shuttle">Airport Shuttle</option>
                                        <option value="None">None</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="billingRate">Billing Rate</label>
                                    <select name="billingRate" id="billingRate" class="form-control" [(ngModel)]="editProductData.billingRate">
                                        <option value="4 Weeks">4 Weeks</option>
                                        <option value="Monthly">Monthly</option>
                                        <option value="Weekly">Weekly</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12">
                                <label for="">Billing Period</label>
                                <div *ngFor="let bp of [0,1,2,3,4]; let i = index">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-3" style="padding-right: 1px;">
                                                <select name="bfrom" class="form-control">
                                                    <option value="{{editProductData?.billingPeriod?.from[i]?.value}}">{{editProductData?.billingPeriod?.from[i]?.label}}</option>
                                                </select>
                                            </div>
                                            <span style="padding: 10px;">to</span>
                                            <div class="col-md-3 col-sm-3" style="padding-left: 1px; margin-left:3px;">
                                                <div class="form-group">
                                                    <select name="bto" class="form-control">
                                                        <option value="{{editProductData?.billingPeriod?.to[i]?.value}}">{{editProductData?.billingPeriod?.to[i]?.label}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="button" class="btn btn-default">Clear All</button>
                    <span *ngIf="isEdit">
                        <button type="button" class="btn btn-success">Save</button>
                    </span>
                    <span *ngIf="isCopy">
                        <button type="button" class="btn btn-success">Create</button>
                    </span>

                    <button type="button" class="btn btn-primary" (click)="cancel()">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</p-dialog>



<p-dialog [(visible)]="displayShowingsDialog" width="1200" [minHeight]="600" modal="true" responsive="true">
    <p-header>
        {{ editShowings?.id?.market}} Showings
        <span *ngIf=" editShowings?.date"> - Effective Date {{ editShowings?.date | date: 'MM/dd/yyyy'}}</span>
    </p-header>
    <div>
        <div class="form-group">
            <div class="row col-md-12 col-sm-12">
                <!-- <div class="col-md-3 col-sm-3">
                        <label for="filter">Filter</label>
                        <input type="text" class="form-control" id="filter">
                    </div> -->
                <button type="button" class="btn btn-success" (click)="addNewShowings()">Add New Showings</button>
            </div>
        </div>
        <div *ngIf="displayAddNewShowings" style="margin: 5px 42px 5px  17px">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="form-group">
                        <div class="row col-md-12 col-sm-12">
                            <div class="col-md-6 col-sm-6">
                                <div class="col-md-8 col-sm-8">
                                    <div class="form-group">
                                        <label for="Facility">Facility</label>
                                        <select name="Facility" id="Facility" class="form-control">
                                            <option value="atlanta">Atlanta</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <div class="form-group">
                                        <label for="subFacility">Sub Facility</label>
                                        <select name="subFacility" id="subFacility" class="form-control">
                                            <option value="atlanta">Atlanta</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <div class="form-group">
                                        <label for="groupSched">Group Schedule</label>
                                        <select name="groupSched" id="groupSched" class="form-control">
                                            <option value="active">Active</option>
                                            <option value="inactive">InActive</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <div class="form-group">
                                        <label for="Media">Media</label>
                                        <select name="Media" id="Media" class="form-control">
                                            <option value="active">Active</option>
                                            <option value="inactive">InActive</option>
                                        </select>
                                    </div>
                                </div>

                                <div *ngIf="createRateCardData?.invtMngmtType == 'Individual Unit'" class="col-md-8 col-sm-8">
                                    <div class="form-group">
                                        <label for="InvntMgmtMedia">Inventory Management Media</label>
                                        <select name="InvntMgmtMedia" id="InvntMgmtMedia" class="form-control">
                                            <option value="active">Active</option>
                                            <option value="inactive">InActive</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="col-md-8 col-sm-8">
                                    <div class="form-group">
                                        <label for="MediaGroup">Media Group</label>
                                        <select name="MediaGroup" id="MediaGroup" class="form-control">
                                            <option value="active">Active</option>
                                            <option value="inactive">InActive</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <div class="form-group">
                                        <label for="Coverage">Coverage</label>
                                        <select name="Coverage" id="Coverage" class="form-control">
                                            <option value="active">Active</option>
                                            <option value="inactive">InActive</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-8 col-sm-8">
                                    <div class="form-group">
                                        <label for="Path">Path</label>
                                        <textarea name="Path" id="Path" cols="3" rows="3" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="Attachements">Attachements</label>
                                <p-fileUpload name="demo[]" url="" (onUpload)="onUpload($event)" multiple="multiple" accept="image/*" maxFileSize="1000000">
                                    <ng-template pTemplate="content">
                                        <ul *ngIf="uploadedFiles.length">
                                            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                        </ul>
                                    </ng-template>
                                </p-fileUpload>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <p-dataTable [value]="newRateCardTypesRows" [immutable]="false" [rowsPerPageOptions]="[5,10,20]">
                                <p-column field="showings" header="Showings">
                                    <ng-template let-col let-row="rowData" pTemplate="body">
                                        <div>
                                            <select [(ngModel)]="row[col.field]" appendTo="body" class="form-control">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </ng-template>
                                </p-column>

                                <p-column field="units" header="Units">
                                    <ng-template let-col let-row="rowData" pTemplate="body">
                                        <input type="text" [(ngModel)]="row[col.field]" appendTo="body" class="form-control">
                                    </ng-template>
                                </p-column>

                                <p-column field="1-4Weeks" header="1-4 Weeks">
                                    <ng-template let-col let-row="rowData" pTemplate="body">
                                        <div class="input-group" style="height: 33px;">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fa fa-dollar"></i>
                                                </span>
                                            </div>
                                            <input type="text" [(ngModel)]="row[col.field]" appendTo="body" class="form-control">
                                        </div>
                                    </ng-template>
                                </p-column>

                                <p-column field="5-12Weeks" header="5-12 Weeks">
                                    <ng-template let-col let-row="rowData" pTemplate="body">
                                        <div class="input-group" style="height: 33px;">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fa fa-dollar"></i>
                                                </span>
                                            </div>
                                            <input type="text" [(ngModel)]="row[col.field]" appendTo="body" class="form-control">
                                        </div>
                                    </ng-template>
                                </p-column>

                                <p-column field="13-25Weeks" header="13-25 Weeks">
                                    <ng-template let-col let-row="rowData" pTemplate="body">
                                        <div class="input-group" style="height: 33px;">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fa fa-dollar"></i>
                                                </span>
                                            </div>
                                            <input type="text" [(ngModel)]="row[col.field]" appendTo="body" class="form-control">
                                        </div>
                                    </ng-template>
                                </p-column>

                                <p-column field="26-41Weeks" header="26-41 Weeks">
                                    <ng-template let-col let-row="rowData" pTemplate="body">
                                        <div class="input-group" style="height: 33px;">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fa fa-dollar"></i>
                                                </span>
                                            </div>
                                            <input type="text" [(ngModel)]="row[col.field]" appendTo="body" class="form-control">
                                        </div>
                                    </ng-template>
                                </p-column>

                                <p-column field="52Weeks" header="52 Weeks">
                                    <ng-template let-col let-row="rowData" pTemplate="body">
                                        <div class="input-group" style="height: 33px;">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fa fa-dollar"></i>
                                                </span>
                                            </div>
                                            <input type="text" [(ngModel)]="row[col.field]" appendTo="body" class="form-control">
                                        </div>
                                    </ng-template>
                                </p-column>

                            </p-dataTable>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="pull-right">
                        <button type="button" class="btn btn-default">Clear All</button>
                        <button type="button" class="btn btn-success" (click)="saveShowings()">Save</button>
                        <button type="button" class="btn btn-primary" (click)="cancelShwoings()">Cancel</button>
                    </div>
                </div>
            </div>

        </div>

        <div style="margin: 5px 42px 5px  17px">
            <div class="card bg-light">
                <div class="card-body">
                    <div *ngFor="let prodlist of productShowingsList; let i = index">
                        <div>
                            <label>
                                <input type="checkbox"> &nbsp; {{ prodlist }}
                            </label>
                            <span class="pull-right">
                                <a href="javascript:" (click)="deleteProductFromList(i)">
                                    <i class="fa fa-trash-o" style="background-color: red; color:white; padding: 5px;"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-dialog>