/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "node_modules/font-awesome/css/font-awesome.min.css";
@import "node_modules/primeicons/primeicons.css";
@import "node_modules/primeng/resources/themes/omega/theme.css";
@import "node_modules/primeng/resources/primeng.min.css";


/* .ui-dialog-title{
  background-color: blueviolet;
  color: white;
} */

.ui-button .ui-button-text {
    height: 32px !important;
    margin-left: 10px !important;
}

.ui-splitbutton {
    margin-left: 10px !important;
}

.btn {
    margin: 7px;
}

.mythead {
    font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #555555;
    background-color: #ebedf0;
    padding-top: 1px;
    padding-bottom: 1px;
    font-weight: normal !important;
    border-color: inherit;
    box-sizing: border-box;
    padding: .25em .5em;
    border-width: 1px;
    border-style: solid;
}

.table-bordered thead th {
    border-bottom-width: 2px !important;
    font-weight: normal !important;
    padding: 2px !important;
    padding-left:10px !important;
}